.form-outer {
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: white;
  width: 40%;
  border: 1px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
}

.form-group {
  width: 60%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-self: center;
}